#showlist {
  position: fixed;
  width: 640px;
  height: auto;
  left: calc(50% - 320px);
  top: 80px;
}

table,
tr,
th,
td {  
  border: 1px solid #cccccc;
  border-collapse: collapse;
}

tr,
th,
td {
  padding: 1rem;
  text-align: center;
  width: 160px;
}

tr:first-child {
  background-color: lavender;
}


tr:nth-child(2n) {
  background-color: lavenderblush;
}

tr:nth-child(2n + 1) {
  background-color: aliceblue;
}